html {
	font-family: 'Outfit', sans-serif;
}

p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);
}

h1 {
	font-size: 1.3em;
	color: hsl(218, 44%, 22%);
}

body {
	background-color: hsl(212, 45%, 89%);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#qr-code {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#component {
	background-color: hsl(0, 0%, 100%);
	padding: 0.8em;
	border-radius: 10px;
	width: 16em;
	box-shadow: 0 2px 7px 1px hsla(218, 44%, 22%, .4);
}

#attribution {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
}

#attribution p {
	color: hsl(218, 44%, 22%);
	font-size: 0.7em;
}
